<div class="title-holder"><h2 class="text-uppercase">Vaše príbehy:</h2></div>
<div class="card-container flex justify-content-center">

  <p-card *ngFor="let story of stories" class="card" [header]=story.title [style]="{ width: '360px' }">
    <p>
      {{story.description}}
    </p>
    <ng-template pTemplate="footer">
      <button class="buttons">Čítať ďalej</button>
    </ng-template>
  </p-card>

</div>

<div class="title-holder gap-4">
  <button>Viac príbehov</button>
  <button>Pridať príbeh</button>
</div>
