.title-holder {
  display: flex;
  justify-content: end;
  margin-right: 50px;
}

h2 {
  padding: 50px 50px 0px 0;
  font-weight: 900;
  font-size: 2.5rem;
  border-bottom-style: double;
  border-bottom-color: #9e70ae;
  border-bottom-width: 4px;
  margin-bottom: 20px;
}

.card-container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.card {
  max-width: 360px;
  margin: 15px;
}

button {
  background-color: rgba(157,111,177,255);
  color: white;
  border: none;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

button:hover {
  background-color: rgba(121,55,116,255) !important;
}

.buttons {
  background-color: rgba(121,55,116,255);
  color: white;
  border: none;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.buttons:hover {
  background-color: rgba(157,111,177,255) !important;
}

@media screen and (max-width: 1120px) {
  .card-container {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 991.5px) {
  h2 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 580px) {
  .title-holder {
    margin-left: 0;
    margin-right: 0;
    justify-content: left;
  }

  .card-container {
    margin: 5px;
  }

  .card {
    max-width: 100%;
  }
}
