
h2 {
  padding: 50px 50px 0px 0;
  font-weight: 900;
  font-size: 2.5rem;
}

.title-holder {
  margin-left: 100px;
  max-width: 600px;
  justify-content: left;
  text-align: start;
  margin-bottom: 5px;
  font-weight: 800;
  font-size: 50px;
  padding-left: 35px;
  border-bottom: rgba(158,112,174,255) solid 4px;
  border-bottom-style: groove;
}

p-messages {
  margin: 0;
  padding: 0;
  /*left top fixed*/
  position: fixed;
  top: 0;
  right: 0;
  max-width: 40%;
  z-index: 9999;
}

.card-container {
  display: flex;
  justify-content: space-between;
}

.card {
  max-width: 360px;
  margin: 15px;
  border: none;
}

button {
  background-color: rgba(157,111,177,255);
  color: white;
  border: none;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

button:hover {
  background-color: rgba(121,55,116,255) !important;
}

.buttons {
  background-color: rgba(121,55,116,255);
  color: white;
  border: none;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.buttons:hover {
  background-color: rgba(157,111,177,255) !important;
}

.buttons-holder {
  display: flex;
  justify-content: end;
  margin-top: 20px;
  margin-right: 120px;
}

.error {
  color: red;
  font-size: 15px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  text-align: center;
}

/*.card {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*}*/

.p-float-label {
  margin-top: 5px;
  margin-bottom: 25px;
}

input,
textarea {
  width: 100%;
  min-width: 300px;
}


@media screen and (max-width: 1120px) {
  .card-container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    max-width: 50%;
  }

  .title-holder {
    margin-left: 100px;
    margin-bottom: 20px;
    margin-right: 0;
    justify-content: center;
  }
}

@media (max-width: 991.5px) {
  h2 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 770px){
  p-messages {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    max-width: 90%;
    z-index: 9999;
  }
}

@media screen and (max-width: 800px) {
  .title-holder {
    margin-left: 100px;
    margin-bottom: 20px;
    margin-right: 100px;
    justify-content: center;
  }

  h2 {
    font-size: 1.75rem;
  }

  .buttons-holder {
    margin-right: 0;
    justify-content: center;
  }
}

@media screen and (max-width: 580px) {
  input,
  textarea {
    width: 100%;
    min-width: unset;
  }

  .title-holder {
    margin-left: 15px;
    margin-bottom: 20px;
    margin-right: 15px;
    justify-content: center;
  }

  .buttons-holder {
    justify-content: right;
    margin-right: 60px;
  }

  .card-container {
    margin: 5px;
  }

  .card {
    max-width: 100%;
  }

  button {
    font-size: 13px;
    padding: 8px 16px 8px 16px;
  }

  p {
    font-size: 13px;
  }

  .buttons {
    font-size: 13px;
    padding: 8px 16px 8px 16px;
  }
}

@media screen and (max-width: 450px) {
  .buttons-holder {
    justify-content: left;
    margin-left: 30px;
  }

  button {
    font-size: 13px;
    padding: 8px 16px 8px 16px;
  }

  .buttons {
    font-size: 13px;
    padding: 8px 16px 8px 16px;
  }
}

@media screen and (max-width: 340px) {
  .buttons-holder {
    justify-content: left;
    margin-left: 20px;
  }

  button {
    font-size: 11.5px;
    padding: 6px 12px 6px 12px;
  }

  .buttons {
    font-size: 12px;
    padding: 6px 12px 6px 12px;
  }

  p {
    font-size: 12px;
  }
}


