h2 {
  padding: 50px 50px 20px 0;
  font-weight: 900;
  font-size: 2.5rem;
  text-align: end;
  border-bottom-style: double;
  border: #9e70ae;
}

.card-container {
  display: flex;
  justify-content: space-between;
  margin: 20px; /* Odsadenie od okrajov */
}

.card {
  width: 360px;
}
