/* navbar.component.css */
/* Add a bottom border to the navbar */
.navbar {
}

nav {
  opacity: 80;
  background-blend-mode: color;
  position: fixed;
  top: 45px;
  width: 100%;
  z-index: 2;
}
.none-scrolled-navbar {
  height: 100px;
  transition: transform 0.5s ease, ease 2s; /* Delay height transition for 2 seconds */
}

.scrolled-navbar {
  transform: scale(1); /* Modify scale as needed */
  height: 50px; /* Set the desired height for the scrolled navbar */
  transition: transform 2s ease, height 0.5s ease; /* Add height transition after 2 seconds */
  background-color: transparent;
  opacity: 1;
}
.logo-big {
  transform: scale(1);
  transition: transform 1s ease; /* Add a transition property for the logo */
}

.logo-small {
  transform: scale(0.5);
  transition: transform 1s ease; /* Add a transition property for the logo */
}

/* Add responsive styles for the collapsed menu */
@media (max-width: 767px) {
  /* Your styles for the collapsed menu */
}

.text-big {
  transition: transform 1s ease;
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-top: 20px;
}

.text-small {
  transition: transform 1s ease;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-top: 20px;
}

/* Your existing styles for .nav-link (including padding-right) */
.nav-link {
  padding-right: 20px;
  justify-content: center;
  align-items: center;
}

/* Hover effect */
.nav-link:hover {
  background-color: rgba(240, 240, 240, 0.5);
  color: #333;
  /* rounded corners */
  border-radius: 5px;

}
