<div class="container-fluid">
  <div class="column-gap-4">
    <div class="map-holder">
      <app-google-maps></app-google-maps>
    </div>
    <div class="contact-section">
      <div class="address-holder">
        <h2 class="text-uppercase">Ozvite sa:</h2>
        <div class="address">
          <i class="pi pi-map-marker"></i>
          <p>Bačíkova 59/2, <br> 040 01 Košice-Staré Mesto</p>
          <i class="pi pi-phone"></i>
          <p>+421 951 011 560</p>
          <i class="pi pi-at"></i>
          <p>verejnostproti@gmail.com</p>
        </div>
      </div>
      <div class="sponsors-holder">
        <h2 class="text-uppercase">Sponzori:</h2>
        <div class="sponsors">
          <div class="text">
        <a href="https://www.facebook.com/elitbytdevelopment40/" target="_blank">ELIT-BYT DEVELOPMENT <br> Zbrojničná 10, 040 01 Staré Mesto </a>
          </div>
          <div class="text">
            <a href="https://www.gta.sk/" target="_blank"> Gymnázium svätého Tomáša Akvinského <br> Zbrojničná 3, 040 01 Staré Mesto</a>
          </div>
          </div>
        <div class="question">
        <h4 class="text-uppercase">Chcete sa stať naším sponzorom?</h4>
          <h6>Kontaktujte:</h6>
          <p>Daniel Arvai <br> <a href="tel:0908252737">0908 252 737</a></p>
        </div>
      </div>
    </div>

  </div>
</div>
