<div class="container">
  <div class="row">
    <div class="col-md-6 map-holder">
      <app-google-maps></app-google-maps>
    </div>
    <div class="col-md-6 address-holder">
      <h2 class="text-uppercase">Ozvite sa:</h2>
      <div class="address">
      <i class="pi pi-map-marker"></i>
      <p>Bačíkova 59/2, <br> 040 01 Košice-Staré Mesto</p>
      <i class="pi pi-phone"></i>
      <p>+421 951 011 560</p>
      <i class="pi pi-at"></i>
      <p>verejnostproti@gmail.com</p>
      </div>
    </div>
  </div>
</div>
