<div class="container-fluid">
  <div class="column-gap-4">
    <div class="map-holder">
      <app-google-maps></app-google-maps>
    </div>
    <div class="address-holder">
      <h2 class="text-uppercase">Ozvite sa:</h2>
      <div class="address">
      <i class="pi pi-map-marker"></i>
      <p>Bačíkova 59/2, <br> 040 01 Košice-Staré Mesto</p>
      <i class="pi pi-phone"></i>
      <p>+421 951 011 560</p>
      <i class="pi pi-at"></i>
      <p>verejnostproti@gmail.com</p>
      </div>
    </div>
  </div>
</div>
