<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <div *ngFor="let story of getCurrentPageData()">
<h2>{{story.title}}</h2>
      <p>{{story.description | truncateText: 100}}</p>
        <button pButton (click)="showDialog()" icon="pi pi-external-link" label="Čítať ďalej" class="button"> </button>
        <p-dialog header="{{story.title}}" [(visible)]="visible" [style]="{ maxWidth: '70vw', maxHeight: '500px' }">
          <p>
            {{story.description}}
          </p>
        </p-dialog>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mt-4">
    <p-paginator *ngIf="!isSmallScreen && !isMiniScreen && !isMobileScreen"
      [style]="{}"
      [rows]="storiesPerPage"
      [totalRecords]="data.length"
      [first]="currentPage * storiesPerPage"
      (onPageChange)="onPageChange($event)"
      [pageLinkSize]=3
    ></p-paginator>

    <p-paginator *ngIf="isSmallScreen && !isMiniScreen && !isMobileScreen"
                [style]="{}"
      [rows]="storiesPerPage"
      [totalRecords]="data.length"
      [first]="currentPage * storiesPerPage"
      (onPageChange)="onPageChange($event)"
      [pageLinkSize]=0
      [showJumpToPageDropdown]=true
                 [showFirstLastIcon]=false
    ></p-paginator>

    <p-paginator *ngIf="isMiniScreen && !isSmallScreen && !isMobileScreen"
                [style]="{}"
      [rows]="storiesPerPage"
      [totalRecords]="data.length"
      [first]="currentPage * storiesPerPage"
      (onPageChange)="onPageChange($event)"
      [pageLinkSize]=0
      [showJumpToPageDropdown]=false
                 [showFirstLastIcon]=false
                 [showCurrentPageReport]=false
                 [showJumpToPageInput]=true
    ></p-paginator>
  </div>
</div>
