<div class="container">
  <h2 class="text-uppercase">{{ "eventsPage.second.title" | translate }}</h2>

  <div class="row" style="margin-top: 20px">
    <div class="col-md-8 col-text">
      <p>
        {{ "eventsPage.second.firstContent" | translate }}
      </p>
    </div>
    <div class="col-md-4 align-content-center col-img">
      <img
        src="assets/images/KSK_logo_hor_ver.png"
        alt="ksk"
        class="img-fluid"
      />
    </div>
  </div>
  <div class="row" style="margin-top: 50px">
    <div class="col-md-4 col-img">
      <img src="assets/images/banner.png" alt="banner" class="img-fluid" />
    </div>
    <div class="col-md-8 col-text">
      <h4 class="fw-bold">
        {{ "eventsPage.second.grant" | translate }}
      </h4>
      <p>
        {{ "eventsPage.second.grant_info" | translate }}
      </p>
    </div>
  </div>
</div>
