.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 25px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  width: 80%;
  height: 100%;
}

h2 {
  text-align: start;
  margin-bottom: 5px;
  font-weight: 800;
  font-size: 50px;
  padding-left: 20px;
  border-bottom: rgba(158, 112, 174, 255) solid 4px;
  border-bottom-style: groove;
}

p {
  text-align: start;
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 17px;
  padding-left: 20px;
}

h4 {
  text-align: start;
  margin-top: 15px;
  margin-bottom: 5px;
  padding-left: 20px;
}

img {
  width: 100%;
  border-radius: 10px;
}

@media (max-width: 1224px) {
  .col-text {
    width: 60%;
  }

  .col-img {
    width: 40%;
  }
}

@media (max-width: 1050px) {
  .col-text {
    width: 50%;
  }

  .col-img {
    width: 50%;
  }
}

@media (max-width: 992px) {
  .last-p {
    width: 200%;
  }
}

@media (max-width: 869px) {
  .col-text {
    width: 100%;
  }

  .col-img {
    width: 100%;
  }

  .last-p {
    width: 100%;
    margin-bottom: 25px;
  }

  h2 {
    font-size: 40px;
  }

  p {
    font-size: 15px;
  }

  h4 {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 576px) {
  h2 {
    font-size: 30px;
  }

  p {
    font-size: 13px;
  }

  h4 {
    font-size: 13px;
  }
}

@media (max-width: 358px) {
  h2 {
    font-size: 22px;
    padding-left: 0;
  }

  p {
    font-size: 12px;
    padding-left: 0;
  }

  h4 {
    font-size: 12px;
    padding-left: 0;
  }
}
