<footer class="footer text-center">
  <div class="container">
    <h5 class="text-uppercase">{{ "homePage.footer.title" | translate }}</h5>
    <div>
      <a href="#" target="_blank" title="Facebook"
        ><i class="pi pi-facebook" style="padding-right: 15px"></i
      ></a>
      <a
        href="https://www.instagram.com/verejnost_proti/"
        target="_blank"
        title="Instagram"
        ><i class="pi pi-instagram" style="padding-right: 15px"></i
      ></a>
      <a href="https://t.me/+59-D0M9xAS82Nzdk" target="_blank" title="Telegram"
        ><i class="pi pi-telegram"></i
      ></a>
    </div>
    <div class="creator">
      <div class="text">
        <p class="my-0 py-0">
          {{ "homePage.footer.author" | translate }}
          Michaela Majorošová
        </p>
      </div>
      <i class="pi pi-angle-down my-0"></i>
      <a href="https://michaela-majorosova.web.app/" target="_blank"
        >www.michaela-majorosova.web.app
      </a>
    </div>
  </div>
</footer>
