<div id="goals" class="container mt-5 holder">
  <div class="row align-items-center">
    <div class="col-lg-5 order-lg-1 order-2">
      <h2 class="text-uppercase">{{ "homePage.goals.title" | translate }}</h2>
      <div class="img-holder">
        <p-image
          src="/assets/images/daniel_podpis_zmluvy.jpg"
          alt="signature"
          preview="true"
          class="img-fluid"
          [imageStyle]="{ 'max-width': '100%' }"
        />
      </div>
    </div>
    <div class="col-lg-7 order-lg-2 order-1">
      <ul class="goals-holder">
        <li class="list-group-item">
          <span><i class="pi pi-check-circle"></i></span
          >{{ "homePage.goals.first" | translate }}
        </li>
        <li class="list-group-item">
          <span><i class="pi pi-check-circle"></i></span>
          {{ "homePage.goals.second" | translate }}
        </li>
        <li class="list-group-item">
          <span><i class="pi pi-circle"></i></span>
          {{ "homePage.goals.third" | translate }}
        </li>
        <li class="list-group-item">
          <span><i class="pi pi-circle"></i></span>
          {{ "homePage.goals.fourth" | translate }}
        </li>
      </ul>
    </div>
  </div>
</div>
