<footer class="footer text-center">
  <div class="container">
    <h5 class="text-uppercase">© VEREJNOSŤ PROTI SEUXÁLNEMU ZNEUŽÍVANIU A OBŤAŽOVANIU</h5>
    <div>
      <a [href]="" target="_blank" title="Facebook"><i class="pi pi-facebook" style="padding-right: 15px"></i></a>
      <a href="https://www.instagram.com/verejnost_proti/" target="_blank" title="Instagram"><i class="pi pi-instagram" style="padding-right: 15px"></i></a>
      <a href="https://t.me/+59-D0M9xAS82Nzdk" target="_blank" title="Telegram"><i class="pi pi-telegram"></i></a>
    </div>
    <p>Created by: <a [href]="" target="_blank">Author's Name</a></p>
  </div>
</footer>
