.footer {
  background-color: rgba(81, 15, 78, 0.85);
  bottom: 0;
  width: 100%;
  padding-bottom: 1px;
  padding-top: 15px;
  color: white;
}


h5 {
  font-size: 20px;
  font-weight: bold;
}

a {
  color: white !important;
  text-decoration: none !important;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
}

a:focus,
a:active {
  background-color: transparent !important;
}

i {
  font-size: 20px;
}
