.background-container {
  width: 100%;
  height: 110vh;
  overflow: hidden;
  position: relative;
}

.background-image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  text-align: center;
  color: white;
  z-index: 3;
  border-radius: 20px;
  background-color: rgba(128, 0, 128, 0.5);
  transform: translateY(-50%);
  margin: -28% 250px 0 250px;
  padding: 80px 40px;
}

.buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

h1 {
  font-size: 36px;
  font-weight: bold;
}

.read-more-button {
  margin: 0 10px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  font-weight: bold;
  text-decoration: none;
  opacity: 0.9;
  border: white 2px solid;
}

.read-more-button:hover {
  opacity: 1;
  background-color: rgba(158, 112, 174, 255);
  border: 2px solid #fff;
}

h5 {
  margin-bottom: 10px;
  font-size: 25px;
}

h2 {
  font-size: 70px;
  width: max-content;
  padding-top: 10px;
}
