<div class="container">
  <h2 class="text-uppercase">{{ "eventsPage.first.title" | translate }}</h2>

  <div class="row" style="margin-top: 20px">
    <div class="col-md-8 col-text">
      <p>
        {{ "eventsPage.first.firstContent" | translate }}
      </p>
      <p>
        {{ "eventsPage.first.secondContent" | translate }}
      </p>
      <p class="last-p">
        {{ "eventsPage.first.thirdContent" | translate }}
      </p>
    </div>
    <div class="col-md-4 col-img">
      <img src="assets/images/mdz1.jpg" alt="8. marec" class="img-fluid" />
    </div>
  </div>
  <div class="row" style="margin-top: 50px">
    <div class="col-md-4 col-img">
      <img src="assets/images/mdz2.jpg" alt="8. marec" class="img-fluid" />
    </div>
    <div class="col-md-8 col-text">
      <p>
        {{ "eventsPage.first.fourthContent" | translate }}
      </p>
      <p>
        {{ "eventsPage.first.fifthContent" | translate }}
      </p>
    </div>
  </div>
</div>
