<div class="container">
  <div
    class="column column-1"
    (click)="window.open('https://4fund.com/jarmnb', '_blank')"
  >
    <div class="circle">
      <div class="mini-circle">
        <img src="assets/images/heart-care-icon.svg" />
      </div>
    </div>
    <h5 class="font-monospace">{{'homePage.columns.first.title' | translate}}</h5>
    <div class="custom-divider"></div>
    <p class="text-center font-monospace">
      {{'homePage.columns.first.content' | translate}}
    </p>
  </div>
  <div class="column column-2" (click)="scrollToContact()">
    <div class="circle">
      <div class="mini-circle">
        <img src="assets/images/add-group-member-icon.svg" />
      </div>
    </div>
    <h5 class="font-monospace">{{'homePage.columns.second.title' | translate}}</h5>
    <div class="custom-divider"></div>
    <p class="text-center font-monospace">
      {{'homePage.columns.second.content' | translate}}
    </p>
  </div>
  <div class="column column-3" routerLink="/contactPage">
    <div class="circle">
      <div class="mini-circle">
        <img src="assets/images/handshake-icon.svg" />
      </div>
    </div>
    <h5 class="font-monospace">{{'homePage.columns.third.title' | translate}}</h5>
    <div class="custom-divider"></div>
    <p class="text-center font-monospace">
      {{'homePage.columns.third.content' | translate}}
    </p>
  </div>
</div>
