<div class="container">
  <div class="column column-1">
    <div class="circle">
      <div class="mini-circle">
        <img src="assets/images/heart-care-icon.svg">
      </div>
    </div>
    <h5 class="font-monospace">Podporte nás</h5>
    <div class="custom-divider"></div>
    <p class="text-center font-monospace">Podporte nás ľubovoľným príspevkom alebo sa staňte našim PARTNEROM.</p>
  </div>
  <div class="column column-2">
    <div class="circle">
      <div class="mini-circle">
        <img src="assets/images/add-group-member-icon.svg">
      </div>
    </div>
    <h5 class="font-monospace">Pridajte sa k nám</h5>
    <div class="custom-divider"></div>
    <p class="text-center font-monospace">Pripojte sa k našej komunite a buďte vždy informovaný o našej činnosti.</p>
  </div>
  <div class="column column-3">
    <div class="circle">
      <div class="mini-circle">
        <img src="assets/images/handshake-icon.svg">
      </div>
    </div>
    <h5 class="font-monospace">Potrebujem pomoc</h5>
    <div class="custom-divider"></div>
    <p class="text-center font-monospace">Potrebujete právnu pomoc alebo sa potrebujete poradiť? Napíšte nám.</p>
  </div>
</div>
