.navbar {
  padding: 5px 0;
  position: fixed;
  z-index: 3;
  width: 100%;
  background-color: black;
  opacity: 0.85;
}

.navbar-brand {
  font-size: 15px;
}

.phone-help-center {
  flex: 0;
  display: flex;
  justify-content: flex-end;
}

.phone-number {
  font-size: 14px;
}

a {
  color: white !important;
}

a:focus,
a:active {
  background-color: transparent !important;
}

a i {
  padding-left: 20px;
}

.pi-map-marker, .pi-phone {
  font-size: 16px;
}

.pi-map-marker {
  padding-left: 20px;
  padding-right: 5px
}

.pi-phone {
  padding-left: 40px;
  padding-right: 5px;
}

@media (max-width: 480px) {
  .navbar-brand {
    font-size: 10px;
  }

  .phone-number {
    font-size: 10px;
  }

  a i {
    padding-left: 5px;
    font-size: 10px;
  }

  .pi-map-marker, .pi-phone {
    font-size: 12px;
  }

  .pi-map-marker {
    padding-left: 0;
    padding-right: 2px;
  }

  .pi-phone {
    padding-left: 10px;
    padding-right: 2px;
  }

  .phone-help-center {
    justify-content: center;
    align-items: center;
    margin-bottom: 3px;
  }
}
