<nav class="navbar border-bottom border-white border-2">
  <div class="container">
    <div class="navbar-brand text-white">
      <i class="pi pi-map-marker" style="padding-left: 15px"></i>
      Adresa
      <i class="pi pi-phone" style="padding-left: 40px"></i>
      Telefónne číslo
    </div>
    <div class="phone-help-center text-white">
      <i class="pi pi-facebook" style="padding-left: 0"></i>
      <i class="pi pi-instagram" style="padding-left: 20px"></i>
      <i class="pi pi-telegram" style="padding-left: 20px"></i>

    </div>
  </div>
</nav>
