<nav class="navbar border-bottom border-white border-2">
  <div class="container">
    <div class="navbar-brand text-white">
      <i class="pi pi-map-marker"></i>
      Bačíkova 59/2
      <i class="pi pi-phone"></i>
      +421 951 011 560
    </div>
    <div class="phone-help-center text-white">
      <a href="" target="_blank"><i class="pi pi-facebook"></i></a>
      <a href="https://www.instagram.com/verejnost_proti/" target="_blank"><i class="pi pi-instagram"></i></a>
      <a href="https://t.me/+59-D0M9xAS82Nzdk" target="_blank"><i class="pi pi-telegram"></i></a>

    </div>
  </div>
</nav>
