<div class="container">
  <div class="campaign-holder">
    <div class="campaign-icon">
      <div class="campaign-icon-bg">
        <img
          ngSrc="../../../../../assets/images/icons/heart-care-icon.svg"
          alt="donate"
          height="48"
          width="48"
        />
      </div>
    </div>
    <h2 class="campaign-title">{{ "homePage.campaign.title" | translate }}</h2>
    <div class="campaign-description">
      {{ "homePage.campaign.description" | translate }}
    </div>
    <div class="divider-holder">
      <div class="divider"></div>
      <a
        href="https://4fund.com/jarmnb"
        target="_blank"
        rel="noopener"
        class="white-button"
      >
        {{ "homePage.campaign.link" | translate }}
      </a>
      <div class="divider"></div>
    </div>
  </div>
</div>
