.container {
  width: 100%;
  height: max-content;
  background: #9e70ae;
  opacity: 0.9;
  border-radius: 10px;
}

.campaign-title {
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
}

.campaign-holder {
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 30px 0;
  display: flex;
}

.divider-holder {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.divider {
  flex-grow: 1;
  height: 1px;
  background: linear-gradient(to right, transparent, #fff, transparent);
}

.divider-text {
  color: #fff;
  font-size: 1.2rem;
  margin: 0 10px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.4s;
  font-weight: 600;
}

.divider-text:hover {
  text-decoration: underline;
}

.campaign-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.campaign-icon-bg {
  background: #fff;
  border-radius: 50%;
  width: 72px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 8px rgba(158, 112, 174, 0.1);
  margin: 0 auto 10px auto;
}

.campaign-description {
  color: #f3e6fa;
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 10px;
  font-family: "Montserrat", Arial, sans-serif;
}

.donate-icon {
  font-size: 1.3rem;
  margin-right: 4px;
}

@media (max-width: 1120px) {
  .container {
    margin-top: 75px;
  }
}
