<div class="container">
  <h2 class="text-uppercase">Medzinárodný deň žien:</h2>

  <div class="row" style="margin-top: 20px">
    <div class="col-md-8 col-text">
      <p>
        V mene našej organizácie Verejnosť Proti, zloženej zo študentov, ktorí
        sú odhodlaní bojovať proti sexuálnemu násiliu, sme dnes venovali
        desiatky kvetov ženám na Hlavnej ulici, aby sme im poslali dôležitú
        správu. Naším cieľom je podporovať a pomáhať obetiam tohto násilia.
      </p>
      <p>
        Daniel Arvai, zakladateľ našej organizácie a stredoškolák, je hlboko
        presvedčený o dôležitosti pomáhať dievčatám a ženám, ktoré boli
        postihnuté sexuálnym obťažovaním a zneužívaním.
      </p>
      <p class="last-p">
        S hrdosťou sme investovali naše vlastné financie do nákupu kvetov, ktoré
        sme potom rozdávali spolu s informačnými letákmi o našej organizácii.
        Našu snahu posilnili aj malí škôlkari, ktorí sa k nám pripojili pri
        rozdávaní.
      </p>
    </div>
    <div class="col-md-4 col-img">
      <img src="assets/images/mdz1.jpg" alt="8. marec" class="img-fluid" />
    </div>
  </div>
  <div class="row" style="margin-top: 50px">
    <div class="col-md-4 col-img">
      <img src="assets/images/mdz2.jpg" alt="8. marec" class="img-fluid" />
    </div>
    <div class="col-md-8 col-text">
      <p>
        Podporu pre našu aktivitu vyjadrili aj pani učiteľky, ktoré veria, že
        výchova k úcte k ženám by mala začínať už v najútlejšom veku.
      </p>
      <p>
        Na Medzinárodný deň žien sme sa rozhodli povzbudiť ženy, aby neváhali
        ohlásiť sexuálne násilie. Početné príbehy, ktoré nám ženy a dievčatá už
        zverili, nás ešte viac motivovali k tomu, aby sme spoločne bojovali
        proti tejto formy násilia prostredníctvom našej organizácie.
        Spolupracujeme s právnikmi a psychológmi a plánujeme organizovať
        prednášky a diskusie na rôznych školách, pretože veríme, že osvetová
        práca je kľúčom k zmene a ochrane práv obetí.
      </p>
    </div>
  </div>
</div>
