<div class="container">
  <div class="row">
    <div class="col-md-5 text-black" style="padding-right: 20px">
      <h4 class="text-uppercase">POZRITE SI NAŠE VÍŤAZNÉ VIDEO</h4>
      <h2 class="text-uppercase">Zastavme sexuálne zneužívanie</h2>
      <p>V tomto videu sa zameriame na dôležitosť ľudí, spoločnou silou dosiahneme bezpečnejšie prostredie pre všetkých. Podporujeme diskusie a spoluprácu proti sexuálnemu zneužívaniu a obťažovaniu pre pozitívne zmeny. Toto video je začiatkom našej odhodlanosti dosiahnuť spravodlivejšiu a bezpečnejšiu budúcnosť pre všetkých.</p>
      <p class="custom-font">Verejnosť proti</p>
      <button pButton type="button" label="O NÁS" class="read-more-button"></button>
    </div>
    <div class="col-md-7 d-flex justify-content-center align-items-end">
      <iframe width="700" height="400" src="https://www.youtube.com/embed/SWrlJW_wy2c" title="Aktuálna situácia na Slovensku" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
  </div>
</div>
