<div class="container">
  <div class="row">
    <div class="col-md-5 text-black text-holder" style="padding: 0">
      <h4 class="text-uppercase">
        {{ "homePage.video.subtitle" | translate }}
      </h4>
      <h2 class="text-uppercase">{{ "homePage.video.title" | translate }}</h2>
      <p>{{ "homePage.video.content" | translate }}</p>
      <p class="custom-font">{{ "homePage.video.signature" | translate }}</p>
      <button
        pButton
        type="button"
        (click)="redirect()"
        [label]="'homePage.video.button' | translate"
        class="read-more-button"
      ></button>
    </div>
    <div
      class="col-md-7 d-flex justify-content-center align-items-lg-end align-items-md-center"
      style="padding: 0"
    >
      <iframe
        src="https://www.youtube.com/embed/SWrlJW_wy2c"
        title="Aktuálna situácia na Slovensku"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>
