<div class="container mt-5 holder">
  <div class="row">
    <div class="col-lg-5">
      <h2 class="text-uppercase">Naše ciele:</h2>
      <img src="https://s.hdnux.com/photos/56/35/57/12180437/5/1200x0.jpg" alt="Fotka" class="img-fluid mt-3">
    </div>
    <div class="col-lg-7">
      <ul class="goals-holder">
        <li class="list-group-item"><span><i class="pi pi-check-circle"></i></span>Vytvoriť komunitu ľudí, ktorá bude proti sexuálnemu zneužívaniu a obťažovaniu</li>
        <li class="list-group-item"><span><i class="pi pi-circle"></i></span>Založiť občianske združenie</li>
        <li class="list-group-item"><span><i class="pi pi-circle"></i></span>Zvýšiť tresty za sexuálne zneužívanie a obťažovanie bez podmienok</li>
        <li class="list-group-item"><span><i class="pi pi-circle"></i></span>Spravodlivé "odškodné" za sexuálne zneužívanie a obťažovanie</li>
      </ul>

    </div>
  </div>
</div>
