@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

h4 {
  color: rgba(159, 111, 175, 255);
  padding: 10px 0 10px 0;
}

h2 {
  padding: 0 0 10px 0;
  font-weight: 900;
}

p {
  font-size: 17px;
}

.custom-font {
  font-family: "Great Vibes", cursive;
  font-size: 30px;
}

iframe {
  width: 700px;
  height: 400px;
}

.purple-button {
  font-weight: 800;
  font-size: 18px;
}

.container {
  margin: 50px auto 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-holder {
  margin-bottom: 20px;
}

@media (max-width: 991px) {
  h4 {
    font-size: 20px;
  }

  h2 {
    font-size: 25px;
  }

  p {
    font-size: 15px;
  }

  .custom-font {
    font-size: 20px;
  }

  button {
    font-size: 15px;
  }

  .row {
    padding: 0 0 0 0;
    margin-left: 10px;
    margin-right: 10px;
  }

  iframe {
    width: 300px;
    height: 200px;
  }
}

@media (max-width: 576px) {
  .row {
    padding: 0 0 0 0;
    margin-left: 10px;
    margin-right: 10px;
  }
}
