<div class="container-fluid">
  <div class="background-image">
    <div class="content">
      <div class="purple-box">
        <h2 class="about-us-heading text-uppercase">O nás:</h2>
      </div>
      <div class="white-column">
        <p class="about-us-text">
          Vitajte v našej komunite ľudí, ktorí odhodlane bojujú proti sexuálnemu zneužívaniu a obťažovaniu. Naším poslaním je zmeniť spoločnosť k lepšiemu, aby sme dosiahli bezpečné a rešpektujúce prostredie pre všetkých jej členov.

          Naša motivácia vychádza zo skutočnosti, že sexuálne zneužívanie a obťažovanie sú nesmierne závažné trestné činy, ktoré nesmú byť tolerované. Vzhľadom na alarmujúce štatistiky a neschopnosť systému potrestať páchateľov primerane, sme sa rozhodli vystúpiť a podniknúť kroky na zlepšenie situácie.
        </p>
      </div>
      <div class="white-column" style="margin-top: 50px">
        <p class="about-us-text" style="font-weight: 600; font-size: 22px">
          V našom úsilí máme jasne stanovené ciele:
        </p>
      </div>

    </div>
  </div>

  <div class="row goals-row">

    <div class="col-md-3 column">
      <div class="box">
        <div class="purple-circle">
        <div class="white-circle">
          <img src="assets/images/group-icon.svg">
        </div>
          </div>
        <p style="font-size: 18px"><strong>Vytvoriť komunitu ľudí, ktorá bude proti sexuálnemu zneužívaniu a obťažovaniu:</strong></p>
          <p style="padding-top: 15px">Veríme, že sila jednoty môže dosiahnuť zázraky. Preto sa snažíme zapájať, informovať a vzdelávať verejnosť o týchto citlivých témach. Chceme vytvoriť priestor, kde sa ľudia budú cítiť podporovaní a na koho sa môžu obrátiť, ak sa ocitnú v nepríjemnej situácii.</p>
      </div>

    </div>

    <div class="col-md-3 column">
      <div class="box">
        <div class="purple-circle">
          <div class="white-circle">
            <img src="assets/images/edit-list-icon.svg">
          </div>
        </div>
        <p style="font-size: 18px"><strong>Založiť občianske združenie:</strong></p>
          <p style="padding-top: 15px">Plánujeme konať, zorganizovať sa a založiť občianske združenie, ktoré bude mať naše ciele za úlohu. Toto združenie bude poskytovať platformu pre aktivizmus a prácu na prevencii sexuálneho zneužívania a obťažovania.</p>
      </div>
    </div>

    <div class="col-md-3 column">
      <div class="box">
        <div class="purple-circle">
          <div class="white-circle">
            <img src="assets/images/gavel-icon.svg">
          </div>
        </div>
        <p style="font-size: 18px"><strong>Zvýšiť tresty za sexuálne zneužívanie a obťažovanie bez podmienok:</strong></p>
          <p style="padding-top: 15px">Sme presvedčení, že len spravodlivé a prísne tresty môžu slúžiť ako odstrašujúci faktor a dávať správny signál spoločnosti. Budeme presadzovať legislatívne zmeny, ktoré zaručia spravodlivé potrestanie páchateľov a spravodlivý súdny proces pre obete.</p>
      </div>
    </div>
    <div class="col-md-3 column">
      <div class="box">
        <div class="purple-circle">
          <div class="white-circle">
            <img src="assets/images/regulations-icon.svg">
          </div>
        </div>
        <p style="font-size: 18px"><strong>Spravodlivé "odškodné" za sexuálne zneužívanie a obťažovanie:</strong></p>
        <p style="padding-top: 15px">Uvedomujeme si, že psychické a emocionálne následky sexuálneho zneužívania a obťažovania môžu byť ničivé. Budeme sa usilovať o to, aby obete dostávali dôstojnú podporu a kompenzáciu, ktorá im pomôže obnoviť život po traume.</p>
      </div>
    </div>
  </div>
</div>
