<div class="container-fluid">
  <div class="background-image">
    <div class="content">
      <div class="purple-box">
        <h2 class="about-us-heading text-uppercase">
          Udalosti pre vaše bezpečie a podporu:
        </h2>
      </div>
      <div class="white-column">
        <p>
          Teší nás, že môžeme privítať vás všetkých na našich udalostiach
          zameraných na vaše bezpečie a podporu. Sme občianske združenie, ktoré
          sa zaoberá poskytovaním pomoci a podpory ženám a dievčatám, ktoré
          zažili sexuálne obťažovanie. Naše podujatia sú navrhnuté tak, aby
          poskytli nielen informácie a osvetu o tejto problematike, ale aj
          prostredie, kde sa môžete otvorene hovoriť o vašich skúsenostiach a
          hľadať podporu. Nezáleží na tom, kde sa práve nachádzate v procese
          zotavovania sa - naše udalosti sú otvorené všetkým, ktorí hľadajú
          podporu, informácie alebo len miesto na zdieľanie. Tešíme sa na
          možnosť spoločne sa podporovať a rásť.
        </p>
      </div>
    </div>
  </div>
</div>
