.container-fluid {
  height: 800px;
}

.background-image {
  background-image: url("/assets/images/backgrounds/main_page_background.jpg");
}

.purple-box {
  background-color: rgba(81, 15, 78, 0.7);
  padding: 80px 100px;
  border-radius: 8px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  max-width: 1000px;
  margin: 200px auto 0 auto;
  position: relative;
}

.buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

h5 {
  margin-bottom: 10px;
  font-size: 25px;
}

h2 {
  font-size: 70px;
  padding-top: 10px;
}

@media (max-width: 970px) {
  h2 {
    font-size: 50px;
  }
}

@media (max-width: 850px) {
  h2 {
    font-size: 40px;
  }

  .purple-box {
    padding: 40px 50px;
  }

  .container-fluid {
    height: 650px;
  }

  .buttons-container {
    margin-top: 20px;
  }
}

@media (max-width: 600px) {
  .container-fluid {
    height: 500px;
  }

  .purple-box {
    padding: 20px 30px;
  }

  h2 {
    font-size: 30px;
  }

  h5 {
    font-size: 15px;
  }

  .buttons-container {
    margin-top: 20px;
  }

  .white-button {
    font-size: 12px;
    padding: 8px 16px;
  }
}

@media (max-width: 400px) {
  .container-fluid {
    height: 450px;
  }

  h2 {
    font-size: 15px;
  }

  h5 {
    font-size: 10px;
  }

  .buttons-container {
    margin-top: 20px;
  }

  .background-container {
    height: 400px;
  }

  .white-button {
    font-size: 10px;
    padding: 5px 10px;
  }
}
