<div class="background-container">
  <div class="background-image"></div>
  <div class="background-overlay"></div>
  <div class="content-container">
    <h5 class="text-uppercase font-monospace">
      {{ "homePage.content.title" | translate }}
    </h5>
    <h2 class="text-uppercase font-monospace fw-bold">
      {{ "homePage.content.subtitle" | translate }}
    </h2>
    <div class="buttons-container">
      <button
        pButton
        type="button"
        [label]="'homePage.content.buttons.about' | translate"
        class="white-button"
        (click)="aboutUsClicked.emit()"
      ></button>
      <button
        pButton
        type="button"
        label="{{ 'homePage.content.buttons.donate' | translate }}"
        class="white-button"
        (click)="fourFunClicked.emit()"
      ></button>
    </div>
  </div>
</div>
