<h2>Príbehy</h2>
<div class="container">
  <div class="row row-container">
    <div class="arrow arrow-left col-1">
      <button (click)="moveLeft()"><i class="pi pi-arrow-left"></i></button>
    </div>
    <div class="col-10">
      <div class="carousel-container">
        <div
          *ngFor="let story of currentStories; let i = index"
          class="story-container"
          [ngClass]="{ 'big-image': story.isBig, 'small-image': !story.isBig }"
          [@slideAnimation]="currentAnimationState"
        >
          <h3>{{ story.title }}</h3>
          <p>{{ story.story | truncateText: 50 }}</p>
        </div>
      </div>
    </div>
    <div class="arrow arrow-right col-1">
      <button (click)="moveRight()"><i class="pi pi-arrow-right"></i></button>
    </div>
  </div>
</div>
