.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.big-image {
  transform: scale(1.2);
  transition: transform 1s ease;
  z-index: 1;
}

.small-image {
  transform: scale(0.6);
  transition: transform 0.4s ease;
  z-index: 0;
}

.story-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 50px 20px;
  background-color: rgba(121,55,116,255);
  border-radius: 25px;
  box-shadow: black 10px 10px 20px;
  padding: 20px;
  width: 100%;
  height: 100%;
  color: white;
  opacity: 80%;
}

.arrow {
  z-index: 2;
  height: 100%;
}

.arrow-left {
  height: 100%;
  text-align: left;
  width: 50px;
}

.arrow-right {
  height: 100%;
  text-align: right;
  width: 50px;
}

.story-container.fade {
  opacity: 0;
  transition: opacity 0.5s ease;
}
