<div class="container womens-day-2025">
  <h2 class="text-uppercase">{{ "eventsPage.iwd_2025.title" | translate }}</h2>
  <div class="row mt-2">
    <div class="col-md-7 col-text">
      <p>
        {{ "eventsPage.iwd_2025.main_content" | translate }}
      </p>
      <p>
        {{ "eventsPage.iwd_2025.content" | translate }}
      </p>
      <p>
        {{ "eventsPage.iwd_2025.main_partner" | translate }}
        <img
          src="assets/images/msz_presov.jpg"
          alt="msz.presov"
          class="partner-logo mt-2"
        />
      </p>
      <p class="my-4">
        {{ "eventsPage.iwd_2025.partners" | translate }}
      </p>
      <div class="row partner-logos-row">
        <div class="col-6 d-flex justify-content-center mb-3">
          <img
            src="assets/images/KSK_logo_eng_hor_ver.png"
            alt="kosickysamospravnykraj"
            class="partner-logo partner-logo-small"
          />
        </div>
        <div class="col-6 d-flex justify-content-center mb-3">
          <img
            src="../../../assets/images/logos/european_solidarity_corps_logo.webp"
            alt="eusolidaritycorps"
            class="partner-logo partner-logo-small"
          />
        </div>
        <div class="col-6 d-flex justify-content-center mb-3">
          <img
            src="../../../assets/images/logos/autoskola_elite.webp"
            alt="autoskolaelite"
            class="partner-logo partner-logo-small"
          />
        </div>
        <div class="col-6 d-flex justify-content-center mb-3">
          <img
            src="/assets/images/logos/elit-byt-logo.webp"
            alt="ElitBytDevelopment"
            class="partner-logo partner-logo-small"
          />
        </div>
        <div class="col-6 d-flex justify-content-center mb-3">
          <img
            src="../../../assets/images/logos/precise-catering.webp"
            alt="PreciseCatering"
            class="partner-logo partner-logo-small"
          />
        </div>
        <div class="col-6 d-flex justify-content-center mb-3">
          <img
            src="../../../assets/images/logos/faktura_online.webp"
            alt="fakturaonline.cz"
            class="partner-logo partner-logo-small"
          />
        </div>
      </div>
      <p class="thanks-text">
        {{ "eventsPage.iwd_2025.thanks" | translate }}
      </p>
    </div>
    <div class="col-md-5 col-img main-img">
      <p-image
        src="assets/images/iwd-2025/international-womens-day-2025_3.jpeg"
        alt="MDŽ 2025 hlavná"
        width="100%"
        [preview]="true"
        styleClass="img-fluid cursor-pointer"
      ></p-image>
    </div>
  </div>
  <div class="row bottom-row mt-5" style="flex-wrap: nowrap">
    <div class="col-md-4 col-img">
      <p-image
        src="assets/images/iwd-2025/international-womens-day-2025_1.jpeg"
        alt="MDŽ 2025 1"
        width="100%"
        [preview]="true"
        styleClass="img-fluid hover-zoom cursor-pointer"
      ></p-image>
    </div>
    <div class="col-md-4 col-img">
      <p-image
        src="assets/images/iwd-2025/international-womens-day-2025_2.jpeg"
        alt="MDŽ 2025 2"
        width="100%"
        [preview]="true"
        styleClass="img-fluid hover-zoom cursor-pointer"
      ></p-image>
    </div>
    <div class="col-md-4 col-img">
      <p-image
        src="assets/images/iwd-2025/international-womens-day-2025_4.jpeg"
        alt="MDŽ 2025 3"
        width="100%"
        [preview]="true"
        styleClass="img-fluid hover-zoom cursor-pointer"
      ></p-image>
    </div>
  </div>
</div>
