.container-fluid {
  height: 1100px;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.background-image {
  height: 100%;
  background-image: url("/assets/images/sponsor_page_wallpaper.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.purple-box {
  background-color: rgba(81, 15, 78, 0.7);
  margin-top: 150px;
  padding: 15px 50px;
  border-radius: 8px;
  margin-bottom: 30px;
  z-index: 1;
}

.about-us-heading {
  color: white;
  margin: 0;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.white-column {
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1000px;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 200px;
  margin: 20px 15px 15px;
}

img:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: white;
}

.contact h5 {
  font-size: 20px;
  font-weight: 500;
}

.contact a {
  color: white;
  text-decoration: none;
  font-size: 17px;
  font-weight: 400;
}

.contact a:hover {
  text-decoration: underline;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: max-content;
  padding: 30px 25px;
  text-align: center;
  color: white;
  z-index: 1;
  border-radius: 20px;
  background-color: rgba(128, 0, 128, 0.5);
  margin-top: 10vh;
  max-width: 90%;
}

.background-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1100px;
  background-color: rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 870px) {
  .white-column {
    width: 80%;
  }

  .about-us-heading {
    font-size: 40px;
  }

  img {
    max-width: 180px;
  }
}

@media screen and (max-width: 760px) {
  .white-column {
    width: 95%;
  }
}

@media screen and (max-width: 620px) {
  .container-fluid {
    height: 1200px;
  }

  .container-fluid ::before {
    height: 1200px;
  }

  .white-column {
    width: 80%;
    flex-direction: column;
  }

  .container-fluid {
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
  }

  img {
    max-width: 150px;
  }
}

@media screen and (max-width: 490px) {
  .container-fluid {
    height: 1100px;
  }

  .container-fluid ::before {
    height: 1100px;
  }

  .about-us-heading {
    font-size: 30px;
  }

  .purple-box {
    margin-top: 150px;
  }

  img {
    max-width: 130px;
  }

  .contact h5 {
    font-size: 17px;
  }

  .contact a {
    font-size: 15px;
  }
}

@media screen and (max-width: 400px) {
  .container-fluid {
    height: 1000px;
  }

  .container-fluid ::before {
    height: 1000px;
  }

  .about-us-heading {
    font-size: 25px;
  }

  .purple-box {
    margin-top: 150px;
  }

  img {
    max-width: 100px;
  }

  .contact h5 {
    font-size: 15px;
  }

  .contact a {
    font-size: 13px;
  }
}
