<div class="container-fluid">
  <div class="background-image">
    <div class="content">
      <div class="purple-box">
        <h2 class="about-us-heading text-uppercase">
          {{ "sponsorsPage.title" | translate }}
        </h2>
      </div>
      <div class="white-column p-5 flex-column gap-4 mb-4">
        <h3 class="text-uppercase fw-bold">
          {{ "sponsorsPage.mainSponsor" | translate }}:
        </h3>
        <ng-container *ngIf="kskData | async as content">
          <a [href]="content.sponsorLink" target="_blank">
            <img [src]="content.logoPath" alt="sponzor" />
          </a>
        </ng-container>
      </div>
      <div class="white-column">
        <a
          href="https://www.facebook.com/elitbytdevelopment40/"
          target="_blank"
        >
          <img
            ngSrc="assets/images/elit-byt-logo.jpg"
            alt="sponzor"
            width="150"
            height="150"
          />
        </a>
        <a href="https://www.gta.sk/" target="_blank">
          <img
            ngSrc="assets/images/gta-logo.jpg"
            alt="sponzor"
            height="150"
            width="150"
          />
        </a>
        <a href="https://www.trustpay.sk/" target="_blank">
          <img
            ngSrc="assets/images/trust_pay.png"
            alt="sponzor"
            height="150"
            width="150"
          />
        </a>
        <a href="https://www.fakturaonline.sk/" target="_blank">
          <img
            ngSrc="assets/images/faktura_online_square.png"
            alt="sponzor"
            height="150"
            width="150"
          />
        </a>
      </div>
      <div class="content-container">
        <h4 class="text-uppercase">
          {{ "sponsorsPage.sponsorship" | translate }}
        </h4>
        <div class="contact">
          <h5>{{ "sponsorsPage.contact" | translate }}</h5>
          <a href="tel:+421 951 011 560">+421 951 011 560</a>
        </div>
      </div>
    </div>
  </div>
</div>
