<!--<div class="background-container">-->
<!--  <div class="content-container">-->
<!--    <h2 class="text-uppercase">Naši sponzori:</h2>-->
<!--  </div>-->
<!--  <div class="sponsors">-->
<!--    <a href="https://www.facebook.com/elitbytdevelopment40/" target="_blank">-->
<!--      <img src="assets/images/elit-byt-logo.jpg" alt="sponzor" />-->
<!--    </a>-->
<!--    <a href="https://www.gta.sk/" target="_blank">-->
<!--      <img src="assets/images/gta-logo.jpg" alt="sponzor" />-->
<!--    </a>-->
<!--    <a href="https://www.trustpay.sk/" target="_blank">-->
<!--      <img src="assets/images/trust_pay.png" alt="sponzor" />-->
<!--    </a>-->
<!--  </div>-->
<!--  <div class="content-container">-->
<!--    <h4 class="text-uppercase">Chcete sa stať naším sponzorom?</h4>-->
<!--  </div>-->
<!--</div>-->

<div class="container-fluid">
  <div class="background-image">
    <div class="content">
      <div class="purple-box">
        <h2 class="about-us-heading text-uppercase">Naši sponzori:</h2>
      </div>
      <div class="white-column">
        <a
          href="https://www.facebook.com/elitbytdevelopment40/"
          target="_blank"
        >
          <img src="assets/images/elit-byt-logo.jpg" alt="sponzor" />
        </a>
        <a href="https://www.gta.sk/" target="_blank">
          <img src="assets/images/gta-logo.jpg" alt="sponzor" />
        </a>
        <a href="https://www.trustpay.sk/" target="_blank">
          <img src="assets/images/trust_pay.png" alt="sponzor" />
        </a>
      </div>
      <div class="content-container">
        <h4 class="text-uppercase">Chcete sa stať naším sponzorom?</h4>
        <div class="contact">
          <h5>Kontaktujte:</h5>
          <a href="tel:+421 951 011 560">+421 951 011 560</a>
        </div>
      </div>
    </div>
  </div>
</div>
