@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "bootstrap/dist/css/bootstrap.min.css";
@import "primeng/resources/primeng.min.css";
@import "primeicons/primeicons.css";

body {
  font-family: var(--font-family), serif;
}

.container-fluid {
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background-image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
}

.background-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.background-image > * {
  position: relative;
  z-index: 2;
}

h1 {
  font-size: 36px;
  font-weight: bold;
}

.white-button {
  margin: 0 10px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  font-weight: bold;
  text-decoration: none;
  opacity: 0.9;
  border: white 2px solid;
}

.white-button:hover {
  opacity: 1;
}

.purple-button {
  background-color: rgba(157, 111, 177, 255);
  color: white;
  border: none;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.purple-button:hover {
  background-color: rgba(121, 55, 116, 255) !important;
}

.p-image img {
  border-radius: 16px;
}

.p-image .p-image-preview-indicator {
  border-radius: 16px !important;
}

.mini-photos-grid .p-image img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  display: block;
}

.p-image-preview {
  border-radius: 16px !important;
}

.p-image-preview:hover {
  border-radius: 16px !important;
}
