<div class="container">
  <div class="row">
    <div class="col-md-5 text-black text-holder" style="padding: 0">
      <h4 class="text-uppercase">
        Ak by ste sa chceli o nás dozvedieť viacej, na MDŽ 2024 bola o nás
        natočená reportáž.
      </h4>
      <p>
        Na Medzinárodný deň žien sme sa rozhodli náhodným ženám rozdávať kvety a
        letáky, aby sme upriamili pozornosť na problematiku sexuálneho
        obťažovania. Spolupracujeme s právnikmi a psychológmi a aktívne
        podporujeme výchovu k úcte ku ženám už od útleho veku prostredníctvom
        našich aktivít.
      </p>
      <div class="row align-items-center">
        <div class="col-md-5 col-12 left-col">
          <p class="my-auto">
            <span class="question"><strong>Chcete vedieť viac?</strong></span>
            <br />
            <span class="question-text">Pozrite si sekciu udalosti.</span>
          </p>
        </div>
        <div
          class="col-md-1 d-md-flex d-none align-items-center justify-content-center left-col"
        >
          <i class="arrow-right pi pi-angle-right animate"></i>
          <i class="arrow-down pi pi-angle-down animate-down d-none"></i>
        </div>
        <div
          class="col-md-4 col-12 d-md-flex d-none align-items-center justify-content-center left-col"
        >
          <button pButton type="button" class="read-more-button">
            Udalosti
          </button>
        </div>
      </div>
    </div>
    <div
      class="col-md-7 d-flex justify-content-center align-items-lg-center align-items-md-center align-items-sm-center align-items-xs-center"
      style="padding: 0"
    >
      <iframe
        src="https://www.youtube.com/embed/VfLkyhphp_g"
        title="Ženám k MDŽ odovzdali kvet s dôležitým odkazom"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>
