<div class="container">
  <div class="row">
    <div class="col-md-5 text-black text-holder" style="padding: 0">
      <h4 class="text-uppercase">
        {{ "homePage.reportage.title" | translate }}
      </h4>
      <p>
        {{ "homePage.reportage.content" | translate }}
      </p>
      <div class="row align-items-center">
        <div class="col-md-5 col-12 left-col">
          <p class="my-auto">
            <span class="question"
              ><strong>{{
                "homePage.reportage.footer.title" | translate
              }}</strong></span
            >
            <br />
            <span class="question-text">
              {{ "homePage.reportage.footer.subtitle" | translate }}
            </span>
          </p>
        </div>
        <div
          class="col-md-1 d-md-flex d-none align-items-center justify-content-center left-col"
        >
          <i class="arrow-right pi pi-angle-right animate"></i>
          <i class="arrow-down pi pi-angle-down animate-down d-none"></i>
        </div>
        <div
          class="col-md-4 col-12 d-md-flex d-none align-items-center justify-content-center left-col"
        >
          <button
            (click)="redirect()"
            pButton
            type="button"
            class="read-more-button"
          >
            {{ "homePage.reportage.footer.button" | translate }}
          </button>
        </div>
      </div>
    </div>
    <div
      class="col-md-7 d-flex justify-content-center align-items-lg-center align-items-md-center align-items-sm-center align-items-xs-center"
      style="padding: 0"
    >
      <iframe
        src="https://www.youtube.com/embed/VfLkyhphp_g"
        title="Ženám k MDŽ odovzdali kvet s dôležitým odkazom"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>
