<div class="container">
  <div class="image-holder">
    <img src="assets/images/banner.png" alt="learning" />
  </div>
  <div class="text-holder">
    <h2 class="top-title text-uppercase">
      {{ "homePage.learning.topTitle" | translate }}
    </h2>
    <h3 class="title">
      {{ "homePage.learning.title" | translate }}
    </h3>
    <p class="text">
      {{ "homePage.learning.text.first" | translate }}
    </p>
    <p class="text">
      {{ "homePage.learning.text.second" | translate }}
    </p>
    <!-- Mini photos grid -->
    <div class="mini-photos-grid">
      <a href="assets/images/lectures/lecture_1.jpeg" target="_blank"
        ><img src="assets/images/lectures/lecture_1.jpeg" alt="test image 1"
      /></a>
      <a href="assets/images/lectures/lecture_2.jpeg" target="_blank"
        ><img src="assets/images/lectures/lecture_2.jpeg" alt="test image 2"
      /></a>
      <a href="assets/images/lectures/lecture_3.jpeg" target="_blank"
        ><img src="assets/images/lectures/lecture_3.jpeg" alt="test image 3"
      /></a>
      <a href="assets/images/lectures/lecture_4.jpeg" target="_blank"
        ><img src="assets/images/lectures/lecture_4.jpeg" alt="test image 4"
      /></a>
      <a href="assets/images/lectures/lecture_5.jpeg" target="_blank"
        ><img src="assets/images/lectures/lecture_5.jpeg" alt="test image 5"
      /></a>
      <a href="assets/images/lectures/lecture_6.jpeg" target="_blank"
        ><img src="assets/images/lectures/lecture_6.jpeg" alt="test image 6"
      /></a>
    </div>
    <div class="sponsor">
      <div class="sponsor-text-holder">
        <h4 class="sub-title text-uppercase">
          {{ "homePage.learning.sponsor.title" | translate }}
        </h4>
        <p class="text">
          {{ "homePage.learning.sponsor.text" | translate }}
        </p>
      </div>
      <div class="sponsor-logo-holder">
        <img src="assets/images/KSK_logo_hor_ver.png" alt="KSK" />
        <button>
          <i class="pi pi-chevron-right"></i>
          {{ "homePage.learning.sponsor.button" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
