<div class="container">
  <div class="image-holder">
    <img src="assets/images/banner.png" alt="learning" />
  </div>
  <div class="text-holder">
    <h2 class="top-title text-uppercase">
      {{ "homePage.learning.topTitle" | translate }}
    </h2>
    <h3 class="title">
      {{ "homePage.learning.title" | translate }}
    </h3>
    <p class="text">
      {{ "homePage.learning.text.first" | translate }}
    </p>
    <p class="text">
      {{ "homePage.learning.text.second" | translate }}
    </p>
    <div class="sponsor">
      <div class="sponsor-text-holder">
        <h4 class="sub-title text-uppercase">
          {{ "homePage.learning.sponsor.title" | translate }}
        </h4>
        <p class="text">
          {{ "homePage.learning.sponsor.text" | translate }}
        </p>
      </div>
      <div class="sponsor-logo-holder">
        <img src="assets/images/KSK_logo_hor_ver.png" alt="KSK" />
        <button>
          <i class="pi pi-chevron-right"></i>
          {{ "homePage.learning.sponsor.button" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
